server {
    listen       ${PORT};
    server_name  _;
    root   /usr/share/nginx/html;
    index  index.html;

    location / {
        # Fall back to index.html for client-side routing (react-router)
        try_files $uri $uri/ /index.html;
    }
}
